<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head')%>
</head>
<body>
    <%- include('partials/navigation')%>
    <div class="about-section">
        <h2 class="section-title">SOBRE MÍ</h2>
        
        <div class="about-content">
            <div class="image-flip">
                <div class="image-inner">
                    <div class="image-front">
                        <img src="img/sebas.jpg" alt="foto">

                    </div>
                    <div class="image-back">
                        <p>Sebastian Rodrigo Torres Ramos nació el 10 de noviembre del 2002 en Chincha Alta.</p>
                    </div>
                </div>
            </div>
    
            <div class="intro-text">
                <p>
                    Soy un entusiasta de desarrollo de software en busca de oportunidades para aplicar mis conocimientos y seguir creciendo en esta área. Aunque todavía no cuento con experiencia profesional, he dedicado tiempo a desarrollar habilidades clave a través de cursos y proyectos personales. Me motiva la idea de poder contribuir y aprender en un entorno profesional donde pueda aportar creatividad, innovación y dedicación.
                </p>
                <p>
                    Soy una persona proactiva y disfruto explorando nuevas tecnologías y enfoques que me permitan resolver problemas de forma creativa. Me esfuerzo constantemente por mejorar mis habilidades y, en mi tiempo libre, me dedico a investigar temas que me ayuden en mi etapa universitaria.               </p>
            </div>
        </div>
    </div>
    
    
    
</body>
</html>