<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head')%>
<body>
    <%- include('partials/navigation')%>
    <!-- Formación Académica Section -->
<div class="formacion-section">
    <h2 class="formacion-title">Formación Académica</h2>
    <div class="formacion-grid">
        <!-- Tarjeta de ejemplo de formación académica -->
        <div class="formacion-card">
            <img src="img/undc.png" alt="UNDC">
            <h3>Ing. Sistemas</h3>
            <p>2022 - Actualidad - UNDC</p>
        </div>
        
        <!-- Otra tarjeta de ejemplo -->
        <div class="formacion-card">
            <img src="img/digital.jfif" alt="Cursos Platzi">
            <h3>Digital Domain SAC</h3>
            <p>Cursos de programación</p>
        </div>
    </div>
</div>

</body>
</html>