<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head')%>
</head>
<body>
    <%- include('partials/navigation')%>
    <div class="skills-section">
        <h2 class="skills-title">Habilidades</h2>
        <div class="skills-grid">
            <div class="skill-item">
                <img src="img/html.png" alt="HTML5">
                <p>HTML 5</p>
            </div>
            <div class="skill-item">
                <img src="img/css.png" alt="CSS3">
                <p>CSS 3</p>
            </div>
            <div class="skill-item">
                <img src="img/javascript.png" alt="JavaScript">
                <p>JavaScript</p>
            </div>
            <div class="skill-item">
                <img src="img/mysql.png" alt="MySQL">
                <p>MySQL</p>
            </div>
            <div class="skill-item">
                <img src="img/php.png" alt="PHP">
                <p>PHP</p>
            </div>
            <div class="skill-item">
                <img src="img/react.png" alt="React">
                <p>React</p>
            </div>
            <div class="skill-item">
                <img src="img/python.png" alt="Python">
                <p>Python</p>
            </div>
            <div class="skill-item">
                <img src="img/node.png" alt="Node.js">
                <p>Node.js</p>
            </div>
            <div class="skill-item">
                <img src="img/typescript.png" alt="TypeScript">
                <p>TypeScript</p>
            </div>
        </div>
    </div>        

</body>
</html>