<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head')%>
</head>
<body>
    <%- include('partials/navigation')%>
    <!-- Proyectos Section -->
<!-- Proyectos Section -->
<div class="projects-section">
    <h2 class="projects-title">Proyectos</h2>
    <div class="projects-grid">
        <!-- Example Project Card with Descriptions and Icons -->
        <div class="project-card">
            <img src="img/inventario.jpg" alt="Aplicación Móvil para Control de Inventario">
            <h3>Aplicación Móvil para Control de Inventario</h3>
            <p>Una aplicación móvil desarrollada con Kotlin y Firebase que permite gestionar el inventario de productos de una manera fácil y accesible. La aplicación proporciona funcionalidades para escanear códigos de barras y hacer seguimiento de los niveles de stock en tiempo real.</p>
            <div class="project-logos">
                <img src="img/kotlin.png" alt="Kotlin">
                <img src="img/firebase.png" alt="Firebase">
            </div>
        </div>

        <!-- Additional Project Card Example -->
        <div class="project-card">
            <img src="img/edificio.png" alt="Aplicación Móvil para Control de Inventario">
            <h3>Sistema de Alquiler</h3>
            <p>Un sistema de alquiler desarrollado con Java que permite gestionar el alquiler de propiedades de manera eficaz. El sistema incluye funcionalidades de búsqueda, administración de contratos, y generación de reportes de alquiler.</p>
            <div class="project-logos">
                <img src="img/java.png" alt="Kotlin">
                <img src="img/mysql.png" alt="Firebase">
            </div>
        </div>
        <div class="project-card">
            <img src="img/colegio.png" alt="Aplicación Móvil para Control de Inventario">
            <h3>Aplicación de Gestión de Incidencias para un Colegio</h3>
            <p>Una aplicación móvil para la gestión de incidencias dentro del colegio, desarrollada con Kotlin y Firebase. Permite a los profesores y administradores reportar y hacer seguimiento de incidencias estudiantiles de manera eficiente, garantizando una mejor comunicación y gestión escolar.</p>
            <div class="project-logos2">
                <img src="img/kotlin.png" alt="Kotlin">
                <img src="img/firebase.png" alt="Firebase">
            </div>
        </div>
        
        <!-- Repeat for each additional project as needed -->
    </div>
</div>


</body>
</html>
