<nav class="navbar">
    <div class="container">
        <!-- Sección del perfil a la izquierda -->
        <div class="profile">
            <img src="img/sebas.jpg" alt="Perfil" class="profile-pic">
            <span class="profile-name">Rodrigo Torres Ramos</span>
        </div>

        <!-- Menú de navegación en el centro -->
        <ul class="navbar-nav">
            <li><a href="/">Sobre mí</a></li>
            <li><a href="/habilidades">Habilidades</a></li>
            <li><a href="/proyectos">Proyectos</a></li>
            <li><a href="/formacion">Formación</a></li>
        </ul>

        <!-- Íconos de redes sociales a la derecha -->
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/sebastian-rodrigo-torres-ramos-a8b691335/" target="_blank">
                <img src="img/linkedind.png" alt="LinkedIn">
            </a>
            <a href="https://github.com/Rodrigo101102" target="_blank">
                <img src="img/github.png" alt="GitHub">
            </a>    
        </div>
    </div>
</nav>
